name: Update Stock Data

on:
  schedule:
    # 每天北京时间 17:00 (UTC 09:00) 运行
    - cron: '0 9 * * *'
  workflow_dispatch: # 允许手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 重要：给予写权限，否则无法提交json

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Script
      run: python daily_task.py

    - name: Commit and Push
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add market_data_v2.json
        git commit -m "Auto-update data" || exit 0
        git push
